@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-Bodoni: "Libre Bodoni";
  --font-Afacad: "Afacad", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151A15;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-Afacad);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-Bodoni);
}